# Vercel AI gateway API key. (Required)
AI_GATEWAY_API_KEY="blabla"

# MongoDB connection string. (Required)
DATABASE_URL="mongodb+srv://username:password@domain/db"

# rate limiting
# Set to "true" to enable rate limiting. (Optional, default: false)
RATE_LIMITING_ENABLED=true
# Time window for rate limiting. (Required if rate limiting is enabled)
# Format: "x t" or "xt". "x" is a number, and "t" is a time unit: "s" for seconds, "m" for minutes,
# "h" for hours, or "d" for days (e.g., 30s, 5m, 1 h, 1 d)
RATE_LIMITING_WINDOW="1m"
# Maximum number of requests allowed within the time window. (Required if rate limiting is enabled)
RATE_LIMITING_MAX_REQUESTS=1
# Upstash Redis REST URL and token for rate limiting (Required if rate limiting is enabled)
UPSTASH_REDIS_REST_URL="https://url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="blabla"